body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;

    .ant-layout {
        background: #fff;
        overflow-x: hidden;
    }

    .anticon svg {
        fill: currentColor;
    }

    .company-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-wrapper {
        background: #fff;
        height: 100px;

        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        padding: 0;
        padding-inline: 120px;
        height: 64px !important;

        .menu-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 12px;
        }

        .ant-select-selector {
            border: 0 !important;
        }

        .ant-select-focused {
            .ant-select-selector {
                box-shadow: unset !important;
            }
        }
    }

    .ant-layout-content {
        min-height: calc(100vh - 100px);

        .banner-container {
            position: relative;
            height: 646px;

            .ant-carousel {
                height: 480px;

                .banner-card {
                    height: 480px;
                }

                .testi-title {
                    position: absolute;
                    right: 16px;
                    top: 72px;
                    width: 574px;
                    z-index: 2;

                    .ant-typography {
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 42px;
                        color: white;
                    }

                    &.arabic {
                        text-align: right;

                        .ant-typography {
                            text-align: right;
                        }
                    }
                }

                .slick-slide {
                    .banner-card-wrapper {
                        padding: 8px;
                    }
                }
            }

            .book-services-card {
                position: absolute;
                left: 56px;
                bottom: 0;
                width: 360px;

                .ant-picker {
                    width: 100%;
                }
            }
        }

        .home-content-wrapper {
            padding-block: 80px;
        }

        .welcome-banner-wrapper {
            height: 475px;

            .title,
            .description {
                text-align: left;
            }
        }

        .why-choose-container {
            .title {
                text-align: left;
            }

            .card-slider {
                cursor: pointer;
                background-color: white;
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                border: 1px solid #abdfd7;

                .title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 600;

                    .ant-typography {
                        line-height: 28px;
                        font-size: 20px;
                    }
                }

                .icon-container {
                    width: 32px;
                    height: 32px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;

                    border: 1px solid #32998b;

                    svg * {
                        stroke: #32998b;
                        stroke-width: 1px;
                        fill: none;
                    }
                }

                &.active {
                    .ant-typography {
                        color: white;
                    }

                    .icon-container {
                        svg * {
                            stroke: white;
                            stroke-width: 1px;
                        }
                    }
                }
            }

            .ant-carousel {
                .ant-card-body {
                    padding: 0;
                    overflow: hidden;

                    .why-choose-image {
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 687px;
                        border-radius: 8px;
                    }

                    .why-choose-background-mask {
                        position: absolute;
                        border-radius: 8px;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                        background: linear-gradient(180deg, rgba(140, 201, 201, 0.1) 1.03%, rgba(28, 80, 73, 0.6) 75.01%, rgba(6, 37, 33, 0.7) 100%);
                    }
                }
            }
        }

        .service-container {
            min-height: 800px;
            padding-block: 80px;

            .service-image {
                flex-direction: column;
                padding: 0 !important;
            }

            .service-description {
                .service-description-header {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                }
            }

            .service-accordion {
                .description {
                    p {
                        margin-block-start: 0px !important;
                        margin-block-end: 0px !important;
                    }
                }
                .ant-collapse-item {
                    padding: 8px;
                    border-bottom: 1px solid #dcdfe6;
                }

                .ant-collapse-header {
                    display: flex;
                    align-items: center;
                    height: 42px;

                    .ant-collapse-expand-icon {
                        height: 44px;
                    }
                }

                .ant-collapse-header,
                .ant-collapse-content-box {
                    padding: 0px;
                }
                .ant-collapse-content {
                    padding-block: 16px;
                }
            }

            .title,
            .description {
                text-align: left;
            }
        }

        .service-image,
        .welcome-banner-image {
            display: flex;
            gap: 16px;

            .ant-card {
                background-position: center !important;
                background-size: cover !important;

                .image-mask {
                    position: absolute;
                    border-radius: 8px;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(180deg, rgba(140, 201, 201, 0.1) 1.03%, rgba(28, 80, 73, 0.6) 86.22%, rgba(6, 37, 33, 0.7) 100%);
                }
            }
        }

        .how-we-work-header-wrapper {
            padding-top: 48px;
            padding-bottom: 24px;

            .ant-col {
                display: flex;
                justify-content: center;
                align-items: center;

                .text-wrapper {
                    width: 594px;

                    .description {
                        color: #a8aaad;
                    }
                }
            }
        }

        .how-we-work-icons-wrapper {
            margin-inline: -120px;
            padding-top: 16px;
            padding-bottom: 48px;
            height: 256px;
            position: relative;
            margin-bottom: 50px;

            .bg-wrapper {
                position: absolute;
                margin-top: 20px;
                height: 256px;
                left: 0;
                right: 0;

                img {
                    width: 100%;
                }
            }

            .icons-group-container {
                display: flex;
                flex-direction: row;
                padding-inline: 120px;
                width: 100%;
            }
        }

        .testimonial-wrapper {
            margin-inline: -120px;

            .testi-title {
                padding-top: 40px;

                div {
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            .testi-carousel-wrapper {
                margin-block: 16px;

                .carousel-1 {
                    .slick-list {
                        margin-left: -120px;
                    }
                }
            }

            .testi-card-wrapper {
                padding: 12px;

                .testi-card {
                    width: 422px;
                    height: 200px;
                    overflow: hidden;

                    .ant-card-body {
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;

                        .ellips-01 {
                            position: absolute;
                            right: -1px;
                            top: -1px;
                        }

                        .ellips-02 {
                            position: absolute;
                            right: -1px;
                            top: 16px;
                        }

                        .content-text {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                        }

                        .title-wrapper {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: auto;
                            text-transform: capitalize;

                            span {
                                font-size: 14px;
                            }
                        }
                    }

                    * {
                        color: white;
                    }
                }
            }
        }

        .about-us-main-header,
        .contact-us-main-header {
            padding-top: 64px;
            padding-bottom: 40px;

            .ant-col {
                display: flex;
                justify-content: center;
                align-items: center;

                .text-wrapper {
                    width: 800px;
                    gap: 16px;
                    flex-direction: column;
                    display: flex;

                    .title {
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 42px;
                    }

                    .title,
                    .description {
                        text-align: center !important;
                    }
                }
            }
        }

        .about-us-highlight {
            padding-block: 40px;

            .banner-card {
                height: 400px;
            }
        }

        .about-us-vision-mission,
        .contact-us-details {
            padding-block: 46px;
            padding-inline: 104px;

            .ant-card {
                background-color: #ebf8f6;
                border-color: #ebf8f6;
                border-radius: 8px;

                .ant-card-body {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .button-title {
                        background-color: #2a8074;
                        width: max-content;
                        height: 32px;
                        padding: 5px 8px 5px 8px;
                        border-radius: 20px;
                        color: white;
                    }

                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        text-align: left;
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                    }
                }
            }
        }

        .about-us-strength-wrapper {
            margin-inline: -120px;
            padding-block: 80px;

            .about-us-strength {
                padding-inline: 224px;

                .strength-image {
                    height: 368px;
                    padding: 8px;
                    border-radius: 8px;
                    background-size: cover;
                    background-position: center;

                    .strength-image-mask {
                        background: linear-gradient(180deg, rgba(140, 201, 201, 0.1) 1.03%, rgba(6, 37, 33, 0.7) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border-radius: 16px;
                    }
                }

                .strengh-card-wrapper {
                    padding-inline: 16px;

                    .ant-card-body {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        padding: 0;

                        .icon-container {
                            width: 32px;
                            height: 32px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 8px;

                            svg * {
                                fill: white;
                            }
                        }
                    }
                }

                .ant-card.strengh-card {
                    background-color: #ebf8f6;
                    border-color: #ebf8f6;
                    border-radius: 8px;
                    padding: 16px;
                    height: 100%;

                    .ant-card-body {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 0;

                        .button-title {
                            background-color: #2a8074;
                            width: max-content;
                            height: 32px;
                            padding: 5px 8px 5px 8px;
                            border-radius: 20px;
                            color: white;
                        }

                        .title {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 28px;
                            text-align: left;
                        }

                        .description {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                }
            }
        }

        .title,
        .title i,
        .title u {
            line-height: 32px;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
        }

        .description {
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            font-weight: 400;
            color: #505154;
        }

        .banner-card {
            position: relative;
            border-radius: 16px;
            background-color: #128c7e;
            display: flex;
            justify-content: center;
            align-items: center;

            background-size: cover;
            background-position: center;

            .banner-card-mask {
                position: absolute;
                border-radius: 16px;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(
                    90deg,
                    rgba(140, 201, 201, 0.3) 0%,
                    rgba(76, 146, 136, 0.432762) 27.08%,
                    rgba(28, 80, 73, 0.6) 54.59%,
                    rgba(22, 74, 67, 0.6) 73.52%,
                    rgba(6, 37, 33, 0.8) 100%
                );
            }
        }
    }

    .ant-layout-footer {
        padding-inline: 120px;
        padding-block: 24px;

        .footer-right {
            display: flex;
            column-gap: 40px;
            justify-content: flex-end;
        }
    }

    .services-banner-container {
        position: relative;
        padding-block: 40px;
        margin-inline: -120px;

        .ant-carousel {
            height: 400px;

            .slick-list {
                margin-left: -95%;
            }

            .banner-card {
                height: 400px;
            }

            .slick-slide {
                .banner-card-wrapper {
                    padding: 8px;
                }
            }
        }
    }

    .services-detail-container {
        margin-inline: -120px;
        padding-block: 56px;
        background: #eefcfa;

        .services-detail-item {
            padding-inline: 120px;
            height: 340px;

            .left-item,
            .right-item {
                padding-top: 16px;
                border-bottom: 1px solid #dcdfe6;
            }

            .left-item {
                border-right: 1px solid #dcdfe6;

                .icons-container {
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 16px;

                    .icons {
                        width: 48px;
                        height: 48px;
                    }
                }

                .title {
                    display: block;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    text-align: left;
                    margin-bottom: 16px;
                }

                .description {
                    margin-bottom: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                }
            }

            .right-item {
                padding-left: 16px;
                .title {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                }

                ul {
                    li {
                        line-height: 24px;
                        color: #505154;
                    }
                }
            }
        }

        .services-detail-item:last-child {
            .left-item,
            .right-item {
                border-bottom: 0;
            }
        }
    }

    .reservations-care-givers,
    .contact-us-details {
        padding-block-end: 80px;
        padding-inline: 30px !important;

        .ant-col {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;

            .ant-card {
                width: max-content;

                .ant-card-body {
                    padding: 16px;
                    width: 352px;

                    .caregiver-avatar {
                        height: 384px;
                        padding: 66px 17px 0px 17px;
                        border-radius: 8px;
                        background: #3bb4a3;
                    }

                    .caregiver-description {
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }

                    .caregiver-button-group {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 8px;

                        .ant-button {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }

    .contact-us-details {
        .ant-col {
            display: flex;
            justify-content: center;

            .ant-card {
                .ant-card-body {
                    .icons-container {
                        .icons {
                            background-color: #128c7e;

                            svg * {
                                fill: white;
                            }
                        }
                    }

                    .title,
                    .description {
                        text-align: center !important;
                    }
                }
            }
        }

        .address-wrapper {
            display: flex;
            justify-content: center;

            .ant-card {
                width: 50%;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
    }

    .icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        flex: 1;
        z-index: 1;

        .icons {
            background-color: white;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: 0px 2px 8px 0px #3333331f;

            svg,
            svg * {
                fill: #2a8074;
            }
        }

        .description {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            font-weight: 600;
            color: #303133;
        }
    }

    .phone-button,
    .backtop-button {
        .ant-float-btn-icon {
            font-size: 27px !important;
            width: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .whatsapp-button {
        .ant-float-btn-icon {
            font-size: 30px !important;
            width: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ant-float-btn-body {
            transition: background-color 0.2s ease-in-out;
            background-color: #25d366;
        }

        .ant-float-btn-body:hover {
            background-color: #128c7e;
        }
    }

    .arabic {
        .description,
        .title {
            text-align: right !important;
        }

        .how-we-work-header-wrapper,
        .how-we-work-icons-wrapper {
            .description,
            .title {
                text-align: center !important;
            }
        }

        .ant-layout-content .why-choose-container .card-slider .icon-container {
            margin-right: 0;
            margin-left: 8px;
        }

        .ant-layout-content .welcome-banner-wrapper .title {
            text-align: right;
        }

        .services-detail-container {
            margin-inline: -120px;
            padding-block: 56px;
            background: #eefcfa;

            .services-detail-item {
                .left-item {
                    padding-left: 16px;
                    padding-right: 16px;
                    border-right: 0;
                    border-left: 1px solid #dcdfe6;
                }

                .right-item {
                    padding-right: 16px;
                }
            }
        }
    }

    .drawer-navbar-menu {
        .menu-wrapper {
            display: flex;
            flex-direction: column;
            gap: 21px;

            .nav-item {
                width: 100%;
                height: 32px;
                padding: 5px 8px 5px 8px;

                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                text-align: center;
            }
        }
    }

    .mobile {
        .header-wrapper {
            padding: 16px;
        }

        .ant-drawer-content-wrapper {
            width: 100% !important;
        }

        .ant-drawer-close {
            width: 32px;
            height: 32px;
        }

        .ant-layout-content {
            .banner-container {
                height: 658px;
                margin-inline: -32px;

                .banner-card-wrapper {
                    .banner-card {
                        border-radius: 0;
                        .banner-card-mask {
                            border-radius: 0;
                        }
                    }
                }

                .book-services-card {
                    position: absolute;
                    left: 32px;
                    right: 32px;
                    bottom: 0;
                    top: 192px;
                    width: unset;
                }

                .ant-carousel {
                    .testi-title {
                        top: 40px;
                        left: 40px;
                        right: 40px;
                        width: 85%;

                        .ant-typography {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 32px;
                            text-align: left;
                        }
                    }
                }
            }

            .welcome-banner-wrapper {
                height: unset;
                padding-block-end: 0;
            }

            .why-choose-container {
                padding-block: 0;
                flex-direction: column-reverse;

                .ant-carousel {
                    .ant-card-body {
                        .why-choose-image {
                            height: 343px;
                        }
                    }
                }
            }

            .about-us-vision-mission,
            .contact-us-details {
                padding-inline: 16px;
            }

            .service-container {
                padding-block: 0;
            }

            .how-we-work-icons-wrapper {
                // height: unset;

                .bg-wrapper {
                    margin-top: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .icons-group-container {
                    display: flex;
                    flex-direction: column;

                    .icons-container {
                        max-width: 300px;

                        .description {
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .testimonial-wrapper {
                margin-inline: -16px;

                .testi-carousel-wrapper {
                    .ant-carousel {
                        height: 224px;
                    }
                }

                .testi-title {
                    padding-inline: 100px;

                    div {
                        font-size: 20px;
                    }
                }
            }

            .services-banner-container {
                .ant-carousel {
                    .slick-list {
                        margin-left: 0;
                    }
                }
            }
        }

        .reservations-care-givers,
        .contact-us-details {
            padding-inline: 0px !important;

            .ant-card {
                width: 100%;

                .ant-card-body {
                    width: 100%;
                }
            }
        }

        .about-us-highlight,
        .about-us-our-values-header,
        .about-us-our-values {
            padding-block: 0;
        }

        .about-us-strength-wrapper {
            margin-inline: -16px;
            padding-block: 32px;

            .about-us-strength {
                padding-inline: 16px;
            }
        }

        .services-banner-container {
            padding-block: 16px;
        }

        .services-detail-container {
            .services-detail-item {
                height: unset;

                .left-item {
                    border-right: 0;
                    border-left: 0;
                }

                .left-item,
                .right-item {
                    padding-block: 16px;
                }
            }

            .services-detail-item:last-child {
                .left-item,
                .right-item {
                    border-bottom: 1px solid #dcdfe6;
                }
            }
        }

        .contact-us-main-header,
        .contact-us-details,
        .about-us-main-header {
            padding-block: 16px;
        }

        .ant-layout-footer {
            padding-inline: 16px;

            .footer-right {
                justify-content: flex-start;
            }
        }

        .title,
        .title i,
        .title u {
            line-height: 32px;
            font-size: 20px;
            text-align: center;
            font-weight: 700;
        }

        .description {
            font-size: 14px;
            text-align: center;
            line-height: 24px;
            font-weight: 400;
            color: #505154;
        }

        .ant-drawer-header {
            .ant-drawer-header-title {
                flex-direction: row-reverse;

                .ant-drawer-close {
                    border: 1px solid #3bb4a3;
                    border-radius: 50%;
                    color: #3bb4a3;
                }

                .ant-drawer-title {
                    .company-logo {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}
