body {
    margin: 0;

    .ant-layout {
        background: #fff;
    }

    .anticon svg {
        fill: currentColor;
    }

    .header-wrapper {
        background: #fff;
        height: 100px;

        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        padding: 0;
        padding-inline: 120px;
        height: 64px !important;

        .menu-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 12px;
        }

        .ant-select-selector {
            border: 0 !important;
        }

        .ant-select-focused {
            .ant-select-selector {
                box-shadow: unset !important;
            }
        }
    }

    .ant-layout-content {
        min-height: calc(100vh - 100px);

        .banner-container {
            position: relative;
            height: 646px;

            .ant-carousel {
                height: 480px;

                .banner-card {
                    position: relative;
                    border-radius: 16px;
                    background-color: #128c7e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 480px;

                    background-size: cover;
                    background-position: center;

                    .banner-card-mask {
                        position: absolute;
                        border-radius: 16px;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                        background: linear-gradient(
                            90deg,
                            rgba(140, 201, 201, 0.3) 0%,
                            rgba(76, 146, 136, 0.432762) 27.08%,
                            rgba(28, 80, 73, 0.6) 54.59%,
                            rgba(22, 74, 67, 0.6) 73.52%,
                            rgba(6, 37, 33, 0.8) 100%
                        );
                    }

                    .testi-title {
                        position: absolute;
                        right: 16px;
                        top: 72px;
                        width: 574px;
                        z-index: 2;

                        .ant-typography {
                            font-size: 30px;
                            font-weight: 600;
                            line-height: 42px;
                            color: white;
                        }

                        &.arabic {
                            text-align: right;

                            .ant-typography {
                                text-align: right;
                            }
                        }
                    }
                }

                .slick-slide {
                    .banner-card-wrapper {
                        padding: 8px;
                    }
                }
            }

            .book-services-card {
                position: absolute;
                left: 56px;
                bottom: 0;
                width: 360px;

                .ant-picker {
                    width: 100%;
                }
            }
        }

        .home-content-wrapper {
            padding-block: 80px;
        }

        .welcome-banner-wrapper {
            height: 475px;

            .title,
            .description {
                text-align: left;
            }
        }

        .why-choose-container {
            .title {
                text-align: left;
            }

            .card-slider {
                background-color: white;
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                border: 1px solid #abdfd7;

                .title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 600;

                    .ant-typography {
                        line-height: 28px;
                        font-size: 20px;
                    }
                }

                .icon-container {
                    width: 32px;
                    height: 32px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;

                    border: 1px solid #32998b;

                    svg * {
                        stroke: #32998b;
                        stroke-width: 1px;
                        fill: none;
                    }
                }

                &.active {
                    .ant-typography {
                        color: white;
                    }

                    .icon-container {
                        svg * {
                            stroke: white;
                            stroke-width: 1px;
                        }
                    }
                }
            }

            .ant-carousel {
                .ant-card-body {
                    padding: 0;
                    overflow: hidden;

                    .why-choose-image {
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 687px;
                        border-radius: 8px;
                    }

                    .why-choose-background-mask {
                        position: absolute;
                        border-radius: 8px;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                        background: linear-gradient(180deg, rgba(140, 201, 201, 0.1) 1.03%, rgba(28, 80, 73, 0.6) 75.01%, rgba(6, 37, 33, 0.7) 100%);
                    }
                }
            }
        }

        .service-container {
            min-height: 784px;
            padding-block: 80px;

            .service-image {
                flex-direction: column;
                padding: 0 !important;
            }

            .service-description {
                .service-description-header {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                }
            }

            .service-accordion {
                .description {
                    p {
                        margin-block-start: 0px !important;
                        margin-block-end: 0px !important;
                    }
                }
                .ant-collapse-item {
                    padding: 8px;
                }
                .ant-collapse-header,
                .ant-collapse-content-box {
                    padding: 0px;
                }
            }

            .title,
            .description {
                text-align: left;
            }
        }

        .service-image,
        .welcome-banner-image {
            display: flex;
            gap: 16px;

            .ant-card {
                background-position: center !important;
                background-size: cover !important;

                .image-mask {
                    position: absolute;
                    border-radius: 8px;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(180deg, rgba(140, 201, 201, 0.1) 1.03%, rgba(28, 80, 73, 0.6) 86.22%, rgba(6, 37, 33, 0.7) 100%);
                }
            }
        }

        .how-we-work-header-wrapper {
            padding-top: 48px;
            padding-bottom: 24px;

            .ant-col {
                display: flex;
                justify-content: center;
                align-items: center;

                .text-wrapper {
                    width: 594px;

                    .description {
                        color: #a8aaad;
                    }
                }
            }
        }

        .how-we-work-icons-wrapper {
            margin-inline: -120px;
            padding-top: 16px;
            padding-bottom: 48px;
            height: 256px;
            position: relative;
            margin-bottom: 50px;

            .bg-wrapper {
                position: absolute;
                margin-top: 20px;
            }

            .icons-group-container {
                display: flex;
                flex-direction: row;
                padding-inline: 120px;
                width: 100%;

                .icons-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 16px;
                    flex: 1;
                    z-index: 1;

                    .icons {
                        background-color: white;
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        box-shadow: 0px 2px 8px 0px #3333331f;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .description {
                        font-size: 20px;
                        line-height: 28px;
                        text-align: center;
                        font-weight: 600;
                        color: #303133;
                    }
                }
            }
        }

        .testimonial-wrapper {
            margin-inline: -120px;

            .testi-title {
                padding-top: 40px;

                div {
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            .testi-carousel-wrapper {
                margin-block: 16px;

                .carousel-1 {
                    .slick-list {
                        margin-left: -120px;
                    }
                }
            }

            .testi-card-wrapper {
                padding: 12px;

                .testi-card {
                    width: 422px;
                    height: 200px;
                    overflow: hidden;

                    .ant-card-body {
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;

                        .ellips-01 {
                            position: absolute;
                            right: -1px;
                            top: -1px;
                        }

                        .ellips-02 {
                            position: absolute;
                            right: -1px;
                            top: 16px;
                        }

                        .content-text {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                        }

                        .title-wrapper {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: auto;
                            text-transform: capitalize;

                            span {
                                font-size: 14px;
                            }
                        }
                    }

                    * {
                        color: white;
                    }
                }
            }
        }

        .title,
        .title i,
        .title u {
            line-height: 32px;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
        }

        .description {
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            font-weight: 400;
            color: #505154;
        }
    }

    .whatsapp-button {
        .ant-float-btn-icon {
            font-size: 30px !important;
            width: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ant-float-btn-body {
            transition: background-color 0.2s ease-in-out;
            background-color: #25d366;
        }

        .ant-float-btn-body:hover {
            background-color: #128c7e;
        }
    }
}
