body {
    margin: 0;

    .ant-layout {
        background: #fff;
    }

    .ant-layout-header {
        background: #fff;
        height: 100px;

        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        padding: 0;
        padding-inline: 120px;
        height: 64px !important;

        .menu-wrapper {
            display: flex;
            justify-content: center;
            // gap: 12px;
            column-gap: 12px;
        }
    }

    .ant-layout-content {
        min-height: calc(100vh - 100px);
    }

    .whatsapp-button {
        .ant-float-btn-icon {
            font-size: 30px !important;
            width: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ant-float-btn-body {
            transition: background-color 0.2s ease-in-out;
            background-color: #25d366;
        }

        .ant-float-btn-body:hover {
            background-color: #128c7e;
        }
    }
}
